.user-status-card {
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: $theme-shadow;
  overflow: hidden;
  border: $theme-border;
  .user-status-header {
    padding: 10px 40px;
    border-bottom: solid 1px #e8e8e8;
    font-size: 18px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .cell {
    .col-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px 20px 0px;
      .padding-left {
        padding-left: 42px !important;
      }
      .border-none {
        border: none !important;
      }
      .first-span {
        padding-left: 0px;
        font-size: $font-size-sm;
      }
      .second-span {
        color: $primary;
        font-weight: bold;
        font-size: $font-size-md;
        border-right: 1px solid grey;
        padding-right: 20px;
      }
    }
  }
}
