.user-status-card {
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #dcd6d6;
  overflow: hidden;
  // border: $theme-border;
  .ant-col {
    padding: 0 30px !important;
  }
  .user-status-header {
    padding: 10px 40px;
    border-bottom: solid 1px #e8e8e8;
    font-size: 18px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .cell {
    border-bottom: 1px solid #e8e8e8;
    .col-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px 20px 0px;
      .padding-left {
        // padding-left: 42px !important;
      }
      .border-none {
        border: none !important;
      }
      .first-span {
        padding-left: 0px;
        font-size: $font-size-sm;
      }
      .second-span {
        color: $primary;
        font-weight: bold;
        font-size: $font-size-md;
        border-right: 1px solid grey;
        padding-right: 20px;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .user-status-card {
    .cell {
      border-bottom: 1px solid #e8e8e8;
      .col-div {
        .second-span {
          border-right: unset;
        }
      }
    }
  }
}
