button {
  border-radius: 10px !important;
  color: white !important;
  font-size: 12px !important;
  padding: 0px 35px !important;
  span {
    font-size: 12px !important;
    color: white !important;
  }
}
