$primary: #2A8FFF;
$secondary: #171C3C;
$white: #FFFFFF;
$black: #000000;
$text-color: #2D2F44;
$blue: #2A8FFF;
$green: #7ED957;
$purple: #6C5984;
$light-purple: #CB6CE6;
$brown: #F8B041;
$grey: #808080;


//font families
$font-bold: "Gordita-Bold";
$font-light: "Gordita-Light";
$font-medium: "Gordita-Regular";
$font-subtitle: "Gordita-Medium";
//font-sizes

$font-size-x-lg: 40px;
$font-size-30: 30px;
$font-size-lg: 20px;
$font-size-18: 18px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-x-sm: 10px;