@import "./../../../assets/scss/variable";
.profile-note-tile {
    margin-top: 12px;
    border-bottom: 1px solid rgba($color: grey, $alpha: 0.3);
    .profile-note-info {
        display: flex;
        height: 50px;
        align-items: center;
        .profile-avatar {
            img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                border-radius: 4px;
            }
        }
        .details-wrapper {
            margin-left: 10px;
            .profile-avatar-details {
                margin: 0;
            }
            .name {
                font-family: $font-medium;
                font-size: $font-size-sm;
            }
            .date-time {
                font-family: $font-light;
                font-size: $font-size-x-sm;
            }
        }
    }
    .profile-note-desc {
        margin-top: 8px;
        margin-bottom: 14px;
        p {
            margin: 0px;
            font-size: $font-size-x-sm;
            font-family: $font-light;
        }
    }
}

.profile-details-row {
    .profile-note-tile:last-child {
        border-bottom: unset;
    }
}
