.main-slide {
    padding-top: 30px;
}
.carousel .thumb {
    width: 5%;
    height: 50px;
    padding: 1px;
}

.carousel {
    text-align: center;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
    border: 1px solid rgb(75, 75, 75) !important;
}

.carousel .slider-wrapper {
    width: 60% !important;
}

.main-slide{
    .carousel{

        &:nth-child(2){
            display: none;
        }
    }
}

.carousel.carousel-slider .control-arrow {
    background: rgba(0,0,0,0.2) !important;
}