@import "./../../assets/scss/variable";
.ant-tooltip {
    display: none;
}
.ant-upload-list-picture .ant-upload-list-item-error,
.ant-upload-list-picture-card .ant-upload-list-item-error {
    border-color: transparent;
}
.ant-upload-list-item-error,
.ant-upload-list-item-error .ant-upload-text-icon > .anticon,
.ant-upload-list-item-error .ant-upload-list-item-name {
    color: gray;
}

.image-uploader-section {
    margin-top: 10px;
    display: flex;

    .upload-wrapper {
        margin: 0 10px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 250px;
        max-height: 200px;
        padding-bottom: 15%;
        box-shadow: 0 0 10px $shadow-color;
        border-radius: 12px;
        overflow: hidden;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }
    }
    .avatar-upload {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        .photo-square {
            width: 100%;
            height: 100%;
            border-radius: 0 !important;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 26px;
            }
        }
        .button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0;
            height: 36px;
            width: 36px;
        }
    }
}
