.chat-list-panel {
  width: 350px;
  margin-bottom: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  position: relative;

  .c-button.rounded {
    margin: 0 10px 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    height: 128px;
    background-color: #d9d9d9;
    width: 6px;
    right: 0px;
    top: 0;
  }

  .ant-divider {
    margin: 0;
  }

  .selector-div {
    display: flex;
    align-items: center;
    padding: 0.5em;
    border: none !important;
    position: relative;
    width: 100%;
    z-index: 50;
    justify-content: space-between;

    .dropdown {
      box-shadow: none !important;

      &.ant-select {
        box-shadow: none !important;
        border: none !important;
        width: fit-content !important;
        z-index: unset !important;
        div {
          div {
            width: 100% !important;
          }
        }
      }
      .ant-select-selector {
        box-shadow: none !important;
        margin: 3.5px 0em 0 0em !important;
        position: relative;
        top: 0px;
        padding: 0 12px !important;
        border: none !important;
      }
      .ant-select-arrow {
        top: 65% !important;
      }
    }
    .notification-count {
      padding: 0;
      position: relative;
      top: 3px;
      background-color: $primary;
      width: 24px;
      height: 24px;
      border-radius: 25px;
      text-align: center;
      font-size: $font-size-x-sm;
      color: white;
      right: 16px;
      padding: 4px;
    }
    .new-messages {
      font-size: 10px;
    }
  }

  .search-inner-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    .c-input {
      width: 100%;
      max-width: 90%;
      min-width: 90%;
    }

    .ant-form-item {
      margin: 0;
    }

    .ant-btn {
      &:hover {
        color: $primary !important;
      }
      &:focus {
        color: $primary !important;
      }
    }
    .filters {
      .c-button {
        margin: 0 0 0 15px;

        img {
          height: 15px;
          width: 15px;
        }
      }
      .c-button.shadowed:hover,
      .c-button.shadowed:focus {
        background: #fff;
      }
    }
    .c-overlay {
      margin-top: 5em;
    }
    .dropdown {
      .ant-dropdown {
        margin-top: 3em !important;
      }
    }
  }
  .chat-list-scroll {
    height: 100%;
    overflow-y: scroll;
    position: relative;
  }
  // &::before {
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  //   content: " ";
  //   width: 6px;
  //   height: 100%;
  //   background-color: lightgray;
  // }
  .ant-input-affix-wrapper {
    border: 0;
    .ant-input-prefix {
      margin-right: 0;
    }
  }
  .chat-filter-role-type {
    min-width: unset !important;
    width: calc(100% - 6px) !important;
    left: 0 !important;
    padding-bottom: 0;
    .ant-select-item-option {
      border-bottom: 1px solid rgba($color: grey, $alpha: 0.3);
      font-size: 10px;
      .ant-select-item-option-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 12px;
        }
        .notif-count {
          display: unset !important;
          display: flex !important;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          color: $primary;
        }
      }
    }
  }
  .notif-count {
    display: none !important;
  }
}
.chat-filter-dropdown {
  .ant-dropdown-menu {
    width: 120px;
    border-radius: 10px;
    .ant-dropdown-menu-item > a {
      font-size: 12px;
    }
  }
}

.ant-dropdown-menu {
  position: relative;
  margin: 0;
  padding: 0 80px 0 0;
  border-radius: 8px;
  list-style-position: outside !important;
}
// .ant-dropdown {
//   left: 352px !important;
// }
.ant-dropdown-menu-item > a:hover,
.ant-dropdown-menu-submenu-title > a:hover {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  background-color: white;
}
.emoji-mart-preview {
  display: none !important;
}
.ant-upload.ant-upload-drag .ant-upload {
  padding: 0px 0px;
}
.ant-upload-list .ant-upload-list-text {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .chat-list-panel {
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      background-color: #d9d9d9;
      width: 6px;
      right: 0px;
      top: 0;
    }
  }
  .ant-dropdown {
    left: 112px !important;
    top: 107px !important;
  }
  .emoji-mart-preview {
    display: none !important;
  }
}

// .ant-input-affix-wrapper:focus,
// .ant-input-affix-wrapper-focused {
//   border-color: #40a9ff;
//   border-right-width: 1px !important;
//   outline: 0;
//   // box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
//   font-size: 12px;
//   border: none !important;
//   border-radius: 100px !important;
//   height: 36px !important;
//   padding: 0 14px !important;
//   background: #fff !important;
// }
