.main-content {
  display: flex;
  //   height: 100vh;
  .content {
    width: 100%;
    .header-div {
      .date {
        font-size: 12px;
        border: 1px solid #d0c7c7;
        border-radius: 8px;
        width: 140px;
        background: white;
        padding: 4px 10px;
        margin-right: 10px;
      }
    }
  }
}
