@import "./../../assets/scss/variable";
.container {
    .time {
        padding: 20px 35px;

        font-size: smaller;
    }
    .content-wrapper {
        padding: 0 30px;
        .heading {
            text-align: justify;
            h1 {
                font-size: large;
                font-weight: 600;
            }
            p {
                font-size: small;
            }
        }
        .title,
        .sub-title {
            text-align: center;
            margin: 15px 0;
            p {
                font-size: smaller;
            }
        }
        .description {
            line-height: 27px;
        }
    }
    .edit-post-blog-btns {
        margin: 30px 0;
        .edit-blog-btn {
            span {
                color: black !important;
            }
        }
        button {
            margin: 0 10px;
        }
    }
}
